@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

/* Стили для счетчика кликов */

.timer-modal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 85%;
    padding-top: 50px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 10px #0002;
}

.timer-container {
    display: flex;
    width: 360px;
    height: 360px;
    margin-bottom: 10%;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px #0001;
}

.circle-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 250px;
    width: 250px;
    background-color: #f0ff;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8, 3.6deg, #ededed 0deg);
}

.circle-progress::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    background-color: #fff;
    border-radius: 50%;
}

.progress-value {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color: #7d2ae8;
}

.text {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

.start-button {
    position: relative;
    width: 30%;
    height: 30px;
    border: none;
    color: #000;
    border-radius: 3px;
}

.start-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.start-button:hover {
    color: #000;
}
.start-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    }
    .start-button:active {
    top: 2px;
}

.score-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*================================Styles MessageBlock Module==========================*/

#message-area {
    position:fixed;
    top:0px;
    right:10px;
    width:250px;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.message-item{
    text-align: center;
    position:relative;
    padding:15px 10px;
    background:#111;
    color:#f5f5f5;
    font-size:14px;
    font-weight:600;
    border-radius:5px;
    margin:5px 0px;
    opacity:0;
    left:20px;
    animation:showNotification 500ms ease-in-out forwards;
}
@keyframes showNotification {
    to {
        opacity:1;
        left:0px;
    }
}
.message-item.success {
    background:#389838;
}
.message-item.error {
    background:orangered;
}
.message-item.info {
    background:#00acee;
}

/*==================Styles Dice Game module================*/

#dice-game-container{
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.dice-wrap{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

p{
    font-size: 17px;
    font-weight: 600;
    margin: 30px 0;
}

button{
    background-color: mediumseagreen;
    border: none;
    outline: none;
    color: #000;
    padding: 15px 0;
    width: 170px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

.roll{
    animation: roll 0.5s infinite;
}

@keyframes roll{
    0%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(180deg);
    }
}







/* Стили для таймера */

h1 {
    font-weight: normal;
    font-size: 60px;
}

.countdown {
    display: flex;
    justify-content: center;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}